---
const socialLinks = [
  { name: 'YouTube', href: '#', icon: 'fa-brands fa-youtube' },
  { name: 'Facebook', href: 'https://www.facebook.com/profile.php?id=61555820975594&mibextid=ZbWKwL', icon: 'fa-brands fa-facebook' },
  { name: 'Instagram', href: 'https://www.instagram.com/p/C_TltdQS-iI/?igsh=YTFrc3F5MHRtenN2', icon: 'fa-brands fa-instagram' },
  { name: 'WhatsApp', href: '#', icon: 'whatsapp' },
];

const classSchedule = [
  { day: 'Martes', time: '18:00 - 19:15 hs' },
  { day: 'Jueves', time: '18:00 - 19:15 hs' },
  
];

// Replace with your actual location
const mapSrc = "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3271.942199728451!2d-56.1621!3d-34.9079!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81a64eb90071%3A0x9d3cbd8467faaa44!2sFrancisco%20Ara%C3%BAcho%201186%2C%2011300%20Montevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses!2suy!4v1735508632852!5m2!1ses!2suy";
---

<footer class="bg-slate-800 pt-12 pb-8">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="text-center md:text-left">
        <h3 class="text-lg font-semibold text-slate-500 mb-4">Redes Sociales</h3>
        <div class="flex justify-center md:justify-start space-x-4">
          {socialLinks.map((link) => (
            <a href={link.href} class="text-gray-400 hover:text-green-600 transition-colors duration-200">
              <span class="sr-only">{link.name}</span>
              <i class={`fab fa-${link.icon} text-2xl`} aria-hidden="true"></i>
            </a>
          ))}
        </div>
      </div>
      
      <div>
        <h3 class="text-lg font-semibold text-slate-500 mb-4 text-center">Horario de Clases</h3>
        <ul class="space-y-2">
          {classSchedule.map((schedule) => (
            <li class="text-gray-500 text-center">
              <span class="font-medium">{schedule.day}:</span> {schedule.time}
            </li>
          ))}
        </ul>
      </div>
      
      <div>
        <h3 class="text-lg font-semibold text-slate-500 mb-4 text-center md:text-right">Ubicación</h3>
        <div class="aspect-w-16 aspect-h-9">
          <iframe 
            src={mapSrc} 
            width="100%" 
            height="200" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"
            title="Ubicación de escuela de Tai Chi"
          ></iframe>
        </div>
      </div>
    </div>
    
    <div class="mt-8 pt-8 border-t border-gray-200 text-center">
      <p class="text-gray-500 text-sm">
        &copy; {new Date().getFullYear()} Tai Ji Quan Uruguay. Todos los derechos reservados.
      </p>
      <p class="text-gray-400 text-xs mt-2">
        Diseñado y desarrollado por Alexander Silvera
      </p>
    </div>
  </div>
</footer>

