---
import VideoModal from './VideoModal.astro';

const videos = [
  { id: "BwNGxS-neTM", title: "Presentando respetos en la tumba del Gran Maestro Sun Lutang" },
  { id: "p-FPM_z2-XE", title: "Tai Chi práctica en Monasterio China" },
  { id: "lE9m692uk_s", title: "Tai Chi práctica en Monasterio China" },
  { id: "JMatOj5di60", title: "Saludos de año nuevo de la Asociación de Artes Marciales de Sun Lutang de Dingxing para Uruguay" },
];

// Función para obtener la mejor miniatura disponible
function getThumbnailUrl(videoId: string) {
  const qualities = ['maxresdefault', 'sddefault', 'hqdefault', 'mqdefault', 'default'];
  return qualities.map(quality => `https://img.youtube.com/vi/${videoId}/${quality}.jpg`);
}
---



<style>
  /* Animación de hover */
  .video-thumbnail {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .video-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  /* Overlay de reproducción */
  .video-overlay {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  .video-thumbnail:hover .video-overlay {
    opacity: 1;
  }
</style>

<div class="py-12 bg-gray-900">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold text-center text-green-700 mb-8">Nuestros Videos</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {videos.map((video) => (
        <div class="video-thumbnail relative cursor-pointer rounded-lg overflow-hidden shadow-xl" data-video-id={video.id}>
          <div class="relative pb-[56.25%]">
            {getThumbnailUrl(video.id).map((url, index) => (
              <img
                key={index}
                src={url}
                alt={`Miniatura de ${video.title}`}
                class={`absolute top-0 left-0 w-full h-full object-cover ${index > 0 ? 'hidden' : ''}`}
                onload="if(this.naturalWidth === 120 || this.naturalHeight === 90) this.style.display = 'none'; else this.parentElement.querySelectorAll('img').forEach(img => img.style.display = img === this ? 'block' : 'none')"
                onerror="this.style.display = 'none';"
              />
            ))}
            <div class="video-overlay absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300">
              <svg class="w-16 h-16 text-white opacity-75 hover:opacity-100 transition-opacity duration-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" fill-rule="evenodd"></path>
              </svg>
            </div>
          </div>
          <div class="p-4 bg-gray-800">
            <h3 class="text-lg font-semibold text-green-400">{video.title}</h3>
          </div>
        </div>
      ))}
    </div>
  </div>
</div>
<VideoModal />